* {
    font-family: Verdana, sans-serif;
}
#main {
    background-color: lightgray;
}
#name, #brief-intro {
    text-align: center;
}
#page-header {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
}
#img-div {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 10%;
}
#image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
#img-caption {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
#tribute-info {
    margin-left: 1%;
}